        <section class="wrapper" data-ng-init="getEmails();">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="#/mail_compose" ng-click="resetComposeMail()" class="btn btn-compose">
                            Compose Mail
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                          <li><a href="#/mail" ng-click="draftEmail()"> <i class="fa fa-inbox"></i> Inbox  <span class="label label-danger pull-right inbox-notification">{{newEmails}}</span></a></li>
                          <li><a href="#/sent" ng-click="draftEmail()"> <i class="fa fa-envelope-o"></i> Sent Mail</a></li>
                          <li class="active"><a href="javascript:void(0);" ng-click="getEmails();"> <i class="fa fa-certificate"></i> Important</a></li>
                          <li><a href="#/drafts"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">{{drafts.length}}</span></a></a></li>
                          <li><a href="#/trash"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                    </div>
                </section>

                <section class="panel">
                <ul class="nav nav-pills nav-stacked labels-info ">
                  <li> <h4><a href="#/instantmessaging">Instant Messaging</a></h4> </li>
                </ul>
                <!--
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Buddy online</h4> </li>
                            <li> <h4><a href="#/instantmessaging">Instant Messaging</a></h4> </li>                            
                            <li> <a href="#"> <i class="fa fa-comments-o text-success"></i> Jonathan Smith <p>I do not think</p></a>  </li>
                            <li> <a href="#"> <i class="fa fa-comments-o text-danger"></i> iRon <p>Busy with coding</p></a> </li>
                            <li> <a href="#"> <i class="fa fa-comments-o text-muted "></i> Anjelina Joli <p>I out of control</p></a></li>
                            <li> <a href="#"> <i class="fa fa-comments-o text-muted "></i> Samual Daren <p>I am not here</p></a></li>
                            <li> <a href="#"> <i class="fa fa-comments-o text-muted "></i> Tis man <p>I do not think</p></a>  </li>
                            
                        </ul>
                        <a href="#"> + Add More</a>

                        <div class="inbox-body text-center inbox-action">
                            <div class="btn-group">
                                <a class="btn mini btn-default" href="javascript:;">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn mini btn-default" href="javascript:;">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                -->
                </section>
            </div>
            <div class="col-sm-9" ng-if="mailview">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                       <h4 class="gen-case"> View Message
                           <form action="#" class="pull-right mail-src-position">
                            <div class="input-append">
                                <input type="text" class="form-control " placeholder="Search Mail">
                            </div>
                        </form>
                       </h4>
                    </header>
                    <div class="panel-body ">

                        <div class="mail-header row">
                            <div class="col-md-8">
                                <h4 class="pull-left">{{viewmail.mail.subject==""?"No-Subject":viewmail.mail.subject}}</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="compose-btn pull-right">
                                    <a href="mail_compose.html" class="btn btn-sm btn-primary" ><i class="fa fa-reply"></i> Reply</a>
                                    <button class="btn  btn-sm tooltips" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </button>
                                     <a href="javascript:;" ng-click="deleteInboxMail(viewmail.details.id)" class="btn btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title="">
                                    <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="mail-sender">
                            <div class="row">
                                <div class="col-md-8">
                                    <img src="{{'/'+findProfilepicUrl(viewmail.mail.createrid)}}" alt="">
                                    <strong>{{viewmail.mail.creatername}}</strong>
                                    <span>[<span ng-bind="findEmailAddress(viewmail.mail.createrid)"></span>]</span>
                                    <span>to <strong>{{viewmail.mail.to}}</strong></span><br/>
                                    <span ng-if="viewmail.mail.cc.trim()!=''">cc <strong>{{viewmail.mail.cc}}</strong></span><br/>
                                    <span ng-if="viewmail.mail.bcc.trim()!=''">bcc <strong>{{viewmail.mail.bcc}}</strong></span><br/>
                                </div>
                                <div class="col-md-4">
                                    <p class="date"> {{viewmail.mail.createdAt}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="view-mail">
                            {{viewmail.mail.body}}
                        </div>
                        <div ng-if="viewmail.mail.hasAttachments" class="attachment-mail">
                            <p>
                              <span><i class="fa fa-paperclip"></i> {{mailAttachements.length}} attachments — </span>
                              <a href="/downloadAttachements/{{viewmail.mail.id}}/all">Download all attachments</a>
                              <!-- |
                              <a href="javascript:void(0);">View all images</a> -->
                            </p>
                            <ul>
                                <li ng-repeat="mailAttachement in mailAttachements">
                                    <a class="atch-thumb" href="javascript:void(0);">
                                      <img src="{{mailAttachement.filepath}}">
                                    </a>
                                    <a class="name" href="javascript:void(0);">
                                      {{mailAttachement.filename}}
                                      <span>{{mailAttachement.filesize}} KB</span>
                                    </a>
                                    <div class="links">
                                      <a href="{{mailAttachement.filepath}}" target="_blank">View</a> -
                                      <a href="/downloadAttachements/{{viewmail.mail.id}}/{{mailAttachement.id}}" target="_blank">Download</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="compose-btn pull-left">
                          <a href="#/mail_compose" class="btn btn-sm btn-primary" ng-click="replyMail(findEmailAddress(viewmail.mail.createrid), viewmail.mail.subject)" ><i class="fa fa-reply"></i> Reply</a>
                          <a href="#/mail_compose" class="btn btn-sm" ng-click="initForwaredMail(viewmail.mail)"><i class="fa fa-arrow-right"></i> Forward</a>
                          <a class="btn  btn-sm tooltips" data-original-title="Print" href="javascript:window.print()" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </a>
                           <a href="javascript:;" ng-click="deleteInboxMail(viewmail.details.id)" class="btn btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title="">
                            <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-9" ng-if="!mailview">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                      <h4 class="gen-case">Important ({{getImportant().length}})
                      <form action="#" class="pull-right mail-src-position">
                        <div class="input-append">
                          <input type="text" class="form-control " placeholder="Search Mail">
                        </div>
                      </form>
                       </h4>
                    </header>
                    <div class="panel-body minimal">
                        <div class="mail-option">
                            <div class="chk-all">
                                <div class="pull-left mail-checkbox ">
                                    <input ng-model="selectAllImportant.checked" type="checkbox" ng-change="selectAllImportantMail()" type="checkbox" class="">
                                </div>

                                <div class="btn-group">
                                    <a data-toggle="dropdown" href="#" class="btn mini all">
                                        All
                                        <i class="fa fa-angle-down "></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"> None</a></li>
                                        <li><a href="#"> Read</a></li>
                                        <li><a href="#"> Unread</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="btn-group">
                                <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                                    <i class=" fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a data-toggle="dropdown" href="javascript:void(0);" class="btn mini blue">
                                    More
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" ng-click="markAsReadEmail(1)"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                    <li><a href="javascript:void(0);" ng-click="markAsUnreadEmail(1)"><i class="fa fa-pencil"></i> Mark as Unread</a></li>
                                     <!-- <li class="divider"></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-trash-o"></i> Delete</a></li> -->
                                </ul>
                            </div>
                            <div class="btn-group hidden-phone">
                                <a data-toggle="dropdown" href="javascript:void(0);" class="btn mini blue">
                                    Move to
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- <li><a href="javascript:void(0);" ng-click="markAsReadInboxMail"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-ban"></i> Spam</a></li>
                                    <li class="divider"></li> -->
                                    <li><a href="javascript:void(0);" ng-click="deleteSelectedInboxMail()"><i class="fa fa-trash-o"></i> Trash</a></li>
                                </ul>
                            </div>

                            <ul class="unstyled inbox-pagination">
                                <li><span>{{getVisibleMails("important")}}</span></li>
                                <li>
                                    <button ng-disabled="currentImportantPage == 0" ng-click="currentImportantPage=currentImportantPage-1" class="np-btn" href="javascript:void(0);"><i class="fa fa-angle-left  pagination-left"></i></button>
                                </li>
                                <li>
                                    <button ng-disabled="currentImportantPage >= getImportant().length/mailPageSize - 1" ng-click="currentImportantPage=currentImportantPage+1" class="np-btn" href="javascript:void(0);"><i class="fa fa-angle-right pagination-right"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="table-inbox-wrap ">
                            <table class="table table-inbox table-hover">
                        <tbody>
                            <tr ng-repeat="mail in getImportant() | filter:mailSearch | startFrom:mailPageSize*currentImportantPage | limitTo:mailPageSize | orderBy:'mail.id': true" class="{{mail.details.isUnread}}">
                                <td class="inbox-small-cells">
                                    <input type="checkbox" ng-model="selectedInboxEmail['mail'+mail.mail.id]" class="mail-checkbox">
                                </td>
                                <td class="inbox-small-cells">
                                <i class="fa fa-star" id='imp{{mail.details.id}}' ng-click="removeImportant(mail.details.id)" ng-class="{'inbox-started' : mail.details.isImportant}"></i></td>
                                <td ng-click="viewInboxMail($index);" class="view-message dont-show"><a href="javascript:void(0);">{{mail.mail.creatername}} <span class="label label-danger pull-right">urgent</span></a></td>
                                <td ng-click="viewInboxMail($index);" class="view-message"><a href="javascript:;">{{mail.mail.subject==""?"No-Subject":mail.mail.subject}}</a></td>
                                <td class="view-message inbox-small-cells" ng-click="viewInboxMail($index);" >
                                    <i class="fa fa-paperclip" ng-if="mail.mail.hasAttachments"></i>
                                </td>
                                <td class="view-message text-right" ng-click="viewInboxMail($index);" >{{convertTime(mail.mail.createdAt)}}</td>
                              </tr>
                        </tbody>
                        </table>

                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- page end-->
        </section>