<div class="row show-grid fx_footer">
  <footer id="footer" class="clearfix">
    <div class="container clearfix">
      <p class="flR">Copyright 2014 © All Rights Reserved.</p>
      <ul class="links flL clearfix">
        <li>Who We Are
          <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Jobs</a></li>
          </ul>
        </li>
        <li>What We Do
          <ul>
            <li><a href="#">Solutions</a></li>
            <li><a href="#">How We Do It</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">In the News</a></li>
          </ul>
        </li>
        <li>Support
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </li>
        <li>Legal
          <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Disclosure</a></li>
          </ul>
        </li>
      </ul>
      <div class="social">
        <div class="clearfix">
          <a href="#" class="facebook">&nbsp;</a>
          <a href="#" class="twitter">&nbsp;</a>
          <a href="#" class="linkedin">&nbsp;</a>
          <a href="#" class="google">&nbsp;</a>
          <a href="#">&nbsp;</a>
        </div>
        <span>Tell your friends!</span>
      </div>
    </div>
  </footer>
</div>