<div class="row show-grid fx_footer">
      
      <div class="row footer">
     
     <div class="col-md-10 col-sm-8 col-xs-12 pull-right">
     
     	<div class="row">
        	<div class="col-md-2 col col-sm-6 col-xs-6">
            	<div class="footer_cells">
                    <h4>Who We Are</h4>
                    <ul>
                        <li><a href="javascript:;">Overview</a></li>
                        <li><a href="javascript:;">Company</a></li>
                        <li><a href="javascript:;">Team</a></li>
                        <li><a href="javascript:;">Jobs</a></li>
                    </ul>
               	</div>
            	
            </div>        
           	<div class="col-md-2 col col-sm-6 col-xs-6">
            	<div class="footer_cells">
                    <h4>Who We Are</h4>
                    <ul>
                        <li><a href="javascript:;">Overview</a></li>
                        <li><a href="javascript:;">Company</a></li>
                        <li><a href="javascript:;">Team</a></li>
                        <li><a href="javascript:;">Jobs</a></li>
                    </ul>
               	</div>
            
            </div>        
           	<div class="col-md-2 col col-sm-6 col-xs-6">
            	<div class="footer_cells">
                    <h4>Who We Are</h4>
                    <ul>
                        <li><a href="javascript:;">Overview</a></li>
                        <li><a href="javascript:;">Company</a></li>
                        <li><a href="javascript:;">Team</a></li>
                        <li><a href="javascript:;">Jobs</a></li>
                    </ul>
               	</div>
            </div>        
           	<div class="col-md-2 col col-sm-6 col-xs-6">
            	<div class="footer_cells">
                    <h4>Who We Are</h4>
                    <ul>
                        <li><a href="javascript:;">Overview</a></li>
                        <li><a href="javascript:;">Company</a></li>
                        <li><a href="javascript:;">Team</a></li>
                        <li><a href="javascript:;">Jobs</a></li>
                    </ul>
               	</div>
            </div>        
            
            <div class="col-md-4 col col-sm-12 col-xs-6">
            
            	<div class="footer_cells pull-right">
                    <div class="copy_right">Copyright 2014 ©, All rights reserved.</div>
                    <div class="social_media">
                    	
                        <a href="javascript:;" class="facebook_icon">Facebook</a>
                        <a href="javascript:;" class="twitter_icon">Facebook</a>
                        <a href="javascript:;" class="linkedin_icon">Facebook</a>
                        <a href="javascript:;" class="gplus_icon">Facebook</a>
                        <a href="javascript:;" class="email_icon">Facebook</a>
                        <div class="teel_tfrd">Tell your Firends</div>
                    
                    </div>
               	</div>
                
                 <div class="clr"></div>
            </div>  
            
            <div class="clr"></div>      
            
            
        </div>
     
     </div>
     </div>
      
      	<div class="collspan">
        
        		<a href="javascript:;"><span>&nbsp; </span></a>
        	
            
        
        </div>
      
      </div>
	  <script>
	 
	  </script>
