      <section class="wrapper">
        <!-- page start-->

        <div class="row">
        
        	
            <div class="col-sm-12">
            	<div class="row">
          		   <div class="right_cont" style="min-height:500px;">
                
                	
                    
                    <div class="library_cont clearfix">
                    	<div class="library_cont_box pull-left">
                         <a href="javascript:;" class="das_btns pull-left"><span class="dasbtn_label">Library</span>
                                     <span class="das_btn_icons">
                                    <img src="images/pluse_icon.png" alt=""></span></a>
                        	
	                    	
        				</div> 
                        
                        <div class="pull-right">
                        	<div class="toggle-right-box">
                <div class="fa fa-bars"></div>
            </div>
                        
                        </div>           
                    </div>
                    <div class="ibrary_header">
	                   <div class="col-md-6, col-sm-6 col-xs-12">
	                        <h1>My Library</h1>
                        </div>
                        
                       <div class="col-md-6, col-sm-6 col-xs-12">
                       		<div class="das_sp_icons pull-right">
	                       		<a href="javascript:;" class="das_btns sp_dasicons add_usericon">Add User</a>
                                <a href="javascript:;" class="das_btns sp_dasicons add_alerticon">Alert</a>
                                <a href="javascript:;" class="das_btns sp_dasicons add_menuicon">Menu</a>
                                <a href="javascript:;" class="das_btns sp_dasicons add_moreicon">More</a>
                            </div>
                       
                       </div>
                       
                       <div class="clr"></div>
                    </div> 
                        
                    
                    <div class="das_alllist_cont">
                    
                    
                    	 
                         	<div class="das_alllist_header">
                               <div class="col-md-12, col-sm-12 col-xs-12">
									
                                    <div class="das_btns clearfix pull-left">
                                            <div class="dasbtn_label"><span>Create</span>
                                            
                                           		 <div class="doc_mode">
                                                <ul>
                                                    <li><a href="#myfolder" data-toggle="modal">Folder</a></li>
                                                    <li><a href="#mycitation" data-toggle="modal">Citation List</a></li>
                                                    <li><a href="#mydatasheet" data-toggle="modal">Data sheet</a></li>
                                                    <li><a href="#mydocuments" data-toggle="modal">Document</a></li>
                                                
                                                </ul>
                                            
                                            </div>
                           		 			 </div> 
                         		
                                  			 <div class="das_btn_icons">
                            	 <img src="images/arrow_up.png" alt="">
                                 <input type="file" class="ak_upload">
                             </div>
                      		 		 </div>
                                    
                                    
                                    
                                    
                                   
                                    
                                    <div class="search_library">
                                    	
                                    	<input type="text" placeholder="Search Library">
                                 	    <input  type="image" src="images/search_icon1.png" class="lib_searchicon">
                                    </div>
                                    
                                    <div class="show_all_labopt">
                                    
                                    	<label>Show:</label>
                                    			
                                        <div class="drop_down labselectbox">
                                                <select id="mycomp">
                                                    <option>--Select--</option>
                                                    <option>All</option>
                                                  
                                                </select>
                                        </div>
                                    
                                    </div>
                                    
                                    <div class="resp_clr"></div>
                                    
                                    
                                    <div class="das_group_btns">
                                    	<ul>
                                        	<li><a href="javascript:;"><span class="citations_icon">Citations</span></a></li>
                                            <li><a href="javascript:;"><span class="data_sheet_icon">Data Sheet </span></a></li>
                                             <li><a href="javascript:;"><span class="documents_icon">Documents</span></a></li>
                                        
                                        </ul>
                                    
                                    </div>
                                    
                                    
                                    <div class="das_shorted">
                                    	<label>Sort By:</label>
                                        
                                        <div class="drop_down shortby_opt">
                                                <select id="shortedby">
                                                    <option>--Select--</option>
                                                    <option>Table Headers</option>
                                                </select>
                                        </div>
                                    
                                    </div>
                                    
                                    
                                </div>
                                
                               
                               
                               <div class="clr"></div>
                         
                    </div> 
                    
                    		<div class="library_list_cont">
                            
                            	
										
										
                 				   <table class="table table-striped">
                                          <thead>
                                                <tr>
                                                  <th widht="12">&nbsp;</th>
                                                  <th widht="12">&nbsp;</th>
                                                  <th>Name</th>
                                                  <th>Creater</th>
                                                  <th>Projects</th>
                                                  <th>Last Modefied</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr>
                                                  <td width="12"><input type="checkbox"></td>
                                                  <td width="12"><img src="images/daslist_foldericon.png" alt=""></td>
                                                  <td width="300">Portfolio X </td>
                                                  <td>Me</td>
                                                  <td>.....</td>
                                                  <td>1/13/2014   9:00 Am</td>
                                                </tr>
                                                
                                               <tr>
                                                  <td width="12"><input type="checkbox"></td>
                                                  <td><img src="images/daslist_docicon.png" alt=""></td>
                                                  <td width="300">List 9 </td>
                                                  <td>Me</td>
                                                  <td>.....</td>
                                                  <td>1/13/2014   9:00 Am</td>
                                                </tr>
                                                
                                                <tr>
                                                  <td width="12"><input type="checkbox"></td>
                                                  <td><img src="images/daslist_graphicon.png" alt=""></td>
                                                  <td width="300">List 9 </td>
                                                  <td>Me</td>
                                                  <td>.....</td>
                                                  <td>1/13/2014   9:00 Am</td>
                                                </tr>
                                                
                                                
                                          </tbody>
                                     </table>
									                   
                                     
                            
                            </div>
                    	
                    
                    </div>
                
                </div>
                </div>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>
    <!--main content end-->
<!--right sidebar start-->
<div class="right-sidebar">
<div class="search-row">
    <input type="text" placeholder="Search" class="form-control">
</div>
<div class="right-stat-bar">
<ul class="right-side-accordion">
<li class="widget-collapsible">
    <a href="#" class="head widget-head red-bg active clearfix">
        <span class="pull-left">Task Tracker</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>Target sell</h4>
                    <p>
                        25%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell">
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info">
                    <h4>product delivery</h4>
                    <p>
                        55%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="p-delivery">
                        <div class="sparkline" data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5" data-data="[200,135,667,333,526,996,564,123,890,564,455]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info payment-info">
                    <h4>payment collection</h4>
                    <p>
                        25%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="p-collection">
						<span class="pc-epie-chart" data-percent="45">
						<span class="percent"></span>
						</span>
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info">
                    <h4>delivery pending</h4>
                    <p>
                        44%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="d-pending">
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="col-md-12">
                    <h4>total progress</h4>
                    <p>
                        50%, Deadline 12 june 13
                    </p>
                    <div class="progress progress-xs mtop10">
                        <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div style="width:240px; display:block;"></div>
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head terques-bg active clearfix">
        <span class="pull-left">Colleague Menu </span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head purple-bg active">
        <span class="pull-left"> Active Tracker</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
   
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head yellow-bg active">
        <span class="pull-left">Project Progress</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
   
</li>
</ul>
</div>
</div>
<!--right sidebar end-->

</section>
        <!--folder  Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myfolder" class="modal fade" >
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Create New Folder</h4>
                      </div>
                      <div class="modal-body">
                          
                          
                          <form role="form-horizontal" id="projectform" >
                                
								 <div class="form-group">	
                                     <p>Enter The New Folder</p>
                                      <input type="text" id="my_folder"  name="my_folder" id placeholder="New Folder"  class="form-control placeholder-no-fix">
								</div>
                    
                            </form>
                    
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="">Create New Folder </button>
                          <button type="button"  class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
		  
		  <!-- Datasheet  Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mydatasheet" class="modal fade" >
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Create New Datasheet</h4>
                      </div>
                      <div class="modal-body">
                          
                          
                          <form role="form-horizontal" id="projectform" >
                                
								 <div class="form-group">	
                                     <p>Enter The New Datasheet Name</p>
                                      <input type="text" id="my_datasheet"  name="my_datasheet" id placeholder="New Folder"  class="form-control placeholder-no-fix">
								</div>
                    
                            </form>
                    
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="">Create New Sheet </button>
                          <button type="button"  class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal --> 
		  
		    
		
		  
		   <!-- document  Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mydocuments" class="modal fade" >
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Create New Document</h4>
                      </div>
                      <div class="modal-body">
                          
                          
                          <form role="form-horizontal" id="projectform" >
                                
								 <div class="form-group">	
                                     <p>Enter The New Documnet Name</p>
                                      <input type="text" id="my_documnet"  name="my_documnet" id placeholder="New Folder"  class="form-control placeholder-no-fix">
								</div>
                    
                            </form>
                    
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="">Create New Documnet </button>
                          <button type="button"  class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal --> 
